@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root{
    --fros-blue-color: #0050d5;
    --light-blue-color: #0c389e;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}

/* some resets */
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-font);
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}


.bg-blue{
    background-color: var(--fros-blue-color);

}
.bg-white{
    background-color: var(--light-color);
}
.text-blue{
    color: var(--fros-blue-color);
}
.text-white{
    color: var(--light-color);
}

.container{
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 1rem;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.grid{
    display: grid;
}
input{
    outline: 0;
}
.lead{
    font-size: 25px;
    text-transform: capitalize;
}
h1, h2, h3{
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
.text{
    opacity: 0.9;
}
.text-md{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 2rem;
    font-weight: 500;
}
.text-sm{
    font-size: 1.3rem;
}
.py{
    padding: 10.9rem 0;
}
.text-center{
    text-align: center;
}


.navbar{
    background-color: #250dda;
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    padding: 3.2rem 0;
    z-index: 999;
}
.navbar .container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar-brand img{
    margin-bottom: 8.5rem;
    width: 80px;
    height: 35px;
}
.nav-item a i.fas.fa-sign-in-alt {
    font-size: 15px;
    display: flex;
    justify-content: space-between; /* Distribute items horizontally */
    align-items: center; /* Vertically align items in the middle */
    padding: 0 10px;
    
}
.nav-item a span.btn-text {
    font-size: 13px;
}
.navbar-show-btn, .navbar-hide-btn{
    background-color: transparent;
    width: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
button[class ^= navbar]:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


.navbar-collapse{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
            box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    z-index: 1000;
}

/* navbar show class */
.navbar-show{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.navbar-hide-btn{
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}
.nav-item{
    margin: 1.4rem 0;
}
.nav-link{
    opacity: 0.8;
    font-weight: 600;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    display: inline-block;
}
.nav-link:hover{
    opacity: 1;
    color: var(--fros-blue-color);
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}


/* login button */
.btn-white {
    background-color: #fff;
    color: #000000;
    padding: 8px 8px; 
    border-radius: 3rem;
    margin-bottom: 5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}


/*header*/
.header {
    background-color: #2f35d4;
    padding: 10px 2;
    
}
.clinicname {
    display: block;
    font-size: 45px;
}
.oc {
    display: block;
    text-transform: uppercase; /* Convert text to uppercase if needed */
}
.header-inner-left .text{
    font-size: 90%;
    margin: 5.8rem 0;
    max-width: 500px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.header-inner-right{
    margin-top: 6rem;
}
.header-inner-right img{
    max-width: 520px;
    margin: 0 auto;
}

/* about section */
.section-head h2{
    margin-top: -3rem;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
    text-align: center;
}
.text-lg {
    font-size: 18px; /* Adjust this value to your desired font size */
    margin: 4.6rem 0;
    line-height: 2.3;
    text-align: justify;
  }
.border-line{
    height: .4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-gray);
    position: relative;
}
.border-line::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    width: 102px;
    background-color: var(--light-blue-color);
}
.about-left{
    margin-bottom: 0rem;
}

.about-right img {
    max-height: fit-content;
    width: 400px;
    margin-top: -10em;
    margin-right: 2.5em;
    border-radius: 10%;
}

/* services section */
.services .section-head {
    margin-top: -150px; /* Adjust the margin-top value as needed */
}
.line-art{
    max-width: 240px;
    margin: auto;
}
.line-art img{
    width: 20px;
}
.line-art div{
    width: 100px;
    height: 2px;
    background-color: var(--light-gray);
}
.services-inner{
    font-size: 14px;

}
.services-inner .text {
    text-align: justify;
}
.service-item{
    padding: 3rem;
    margin-bottom: 3rem;
}
.service-item:last-child{
    margin-bottom: 0;
}
.service-item .servicepic img{
    width: 100%px;
    height: 100%;
    border-radius: 8%;
    margin: auto;
    align-content: center;
}
.service-item h3{
    margin: 5rem 0;
    opacity: 0.7;
}

/* clinic panel */
.clinic-panel-inner {
    background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 35px;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
.clinic .section-head {
    margin-top: -150px; /* Adjust the margin-top value as needed */
}

.clinic-inner{
    font-size: 14px;

}

.clinic-panel-item .img {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0 50px;
    overflow: hidden;
    border-radius: 3%;

}

/* contact section */
.contact-left{
    margin-top: -100px;
}

.contact-left iframe{
    border-radius: 10px;
    margin-left: 5%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.social-container {
    background-color: #2170d1; /* Light blue background color */
    width: 350px;
    padding: 20px;
    margin-left: 3em;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-direction: column;
  }
  .social-link {
    display: flex;
    align-items: center;
    margin: 10px 0; 
  }
  
  .social-icon {
    color: #e9e3e3; 
    margin-right: 10px;
  }
  
  .social-text {
    color: #ffffff; 
    font-size: 15px;
  }

/* footer */
.footer {
    background-color: var(--dark-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #fff;
}

/* Media Queries */
@media(min-width: 450px){
    .navbar-collapse{
        width: 320px;
    }
    .btn-group .btn{
        width: auto;
    }
    .btn-group .btn:first-child{
        margin-right: 48px;
        margin-bottom: 0;
    }
    .border-line{
        width: 405px;
    }

}

@media(min-width: 768px){
    .header-inner-left h1{
        font-size: 5.7rem;
    }
    .services-inner, .doc-panel-inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .doc-panel-inner{
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
    .doc-panel .section-head h2{
        text-align: left;
    }
    .package-service-inner, .posts-inner, .footer-inner{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
    .footer-inner{
        text-align: left;
    }
    .footer-item .icon, .footer-item .text{
        margin-left: 0;
    }
    .footer-item .tags-list{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}

@media(min-width: 992px){
    .header-inner{
        padding-top: 3.2rem;
    }
    .header-inner .container{
        grid-template-columns: 545px auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: calc(100vh - 32px);
        position: relative;
    }
    .header-inner-left{
        text-align: left;
    }
    .header-inner-left .text{
        margin-left: 0;
    }
    .header-inner-left .btn-group{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    .header-inner-right img{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 5rem;
    }
    .about-inner .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
    .about-left{
        text-align: left;
        margin-bottom: 0;
    }
    .about-left .section-head h2{
        text-align: left;
    }
    .border-line{
        margin-left: 0;
    }
    .border-line::after{
        left: 0;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .about-right{
        margin-left: auto;
        margin-top: 11.2rem;
    }

    .banner-two .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
    .banner-two-right{
        text-align: left;
    }
    .banner-two-right .btn-group{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .banner-two-right .lead{
        margin-top: 0;
    }
    .banner-two-left img{
        width: 100%;
        max-width: 100%;
    }
    .doc-panel-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .doc-panel-item{
        margin-bottom: 0;
    }
    .package-service-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .package-service-item{
        margin-bottom: 0;
    }

    .contact .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 2.4rem;
           -moz-column-gap: 2.4rem;
                column-gap: 2.4rem;
    }
}

@media(min-width: 1200px){
    .navbar-show-btn, .navbar-hide-btn{
        display: none;
    }
    .navbar-collapse{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .navbar-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .nav-item{
        margin: 0;
        margin-left: 3.5rem;
    }
    .nav-link{
        color: var(--light-color);
        opacity: 1;
        font-weight: 500;
        position: relative;
    }
    .nav-link::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--light-color);
        opacity: 0;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }
    .nav-link:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        color: var(--light-color);
    }
    .nav-link:hover::after{
        opacity: 1;
        width: 100%;
    }
    .search-bar{
        margin-left: 5.5rem;
    }
    .search-inner-right{
        width: 100%;
    }
    .search-inner-right img{
        padding-left: 0;
        max-width: 647px;
    }
    .search-control{
        width: 150px;
    }
    .header-inner-right{
        width: 100%;
    }
    .header-inner-right img{
        padding-left: 0;
        max-width: 647px;
    }

    .services-inner{
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem;
    }
    .service-item{
        margin-bottom: 0;
    }
    .doc-panel-inner{
        -webkit-column-gap: 9rem;
           -moz-column-gap: 9rem;
                column-gap: 9rem;
    }
    .posts-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .post-item{
        margin-bottom: 0;
    }

    .contact .container{
        grid-template-columns: auto 514px;
    }
    .footer-inner{
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
}

@media(min-width: 1480px){
    /* general */
    .container{
        max-width: 81vw;
    }
}

/* transition and animation stopper */
.resize-animation-stopper *{
    -webkit-animation: none!important;
            animation: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}